.markets{
    margin:10rem 25rem;
    width:80%;
    height:100vh;
    color:white;

    &__title{
        font-size:1.2rem;
        font-weight:300;
    }

    &__table{
        padding-top:2rem;


    }
}